<div class="container">
	<br>
	<br>
	<div class="header col-md-6">TimeStamp Microservice</div>
	<br>
	<br>
	<div class="time-stamp col-md-12">
		<div class="unix col-md-4 text-right">[ {{unix}} :</div>
		<div class="natural col-md-4 text-left">{{natural}} ]</div>
	</div>
	<br>
	<br>
	<div class="user-stories col-md-8">
		<div class="col-md-2 text-right"><p><b>1.</b></p></div> <div class="col-md"><p>I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016).</p></div>
		<br>
		<div class="col-md-2 text-right"><p><b>2.</b></p></div> <div class="col-md"><p>If it does, it returns both the Unix timestamp and the natural language form of that date.</p></div>
		<br>
		<div class="col-md-2 text-right"><p><b>3.</b></p></div> <div class="col-md">If it does not contain a date or Unix timestamp, it returns null for those properties.</div>
	</div>
</div>