<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My first app</title>
    <link rel="stylesheet" type="text/css" href="public/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/custom.css">
</head>
<body>

    {{{body}}}

</body>
</html>